In [161]:
import pandas as pd
import re

excel_sheet = 'BaggageFees.xlsx'

def row_contains_keyword(row, keywords):
   # Check if a row contains keywords, the keywords are the likely column names
    
    vals = [("" if pd.isna(v) else str(v).strip().lower()) for v in row.values]
    return any(word in v for word in keywords for v in vals)

def find_header_row(df):
    #Finds the row number that's probably the header
    keywords = ['rank', 'Airline', 'Airlines', '1Q','2Q','3Q','4Q','Full Year']
    for i, row in df.iterrows():
        # makes sure that the row is a header
        if row_contains_keyword(row, keywords):
            non_empty = sum(1 for v in row.values if not pd.isna(v) and str(v).strip() != '')
            if non_empty >= 2:
                return i
    return None

#Cleaning start

# Dict to store all the dataframes
all_sheets = {}
baggage = pd.ExcelFile(excel_file_path)

# 2007 to 2025
sheets = [s for s in baggage.sheet_names if re.search(r'^(2007|2008|2009|201\d|202[0-5])$', s)]

for sheet_name in sheets:
    df = pd.read_excel(baggage, sheet_name=sheet_name, header=None, dtype=object)
    header_row = find_header_row(df)
    
    # Read sheet with the detected header
    df = pd.read_excel(baggage, sheet_name=sheet_name, header=header_row, dtype=object)

    # Clean up column names
    df.columns = [("" if pd.isna(x) else str(x).strip()) for x in df.columns]

    # Find Column Airline
    col = None
    for col in df.columns:
        lowered = str(col).lower()
        if any(word in lowered for word in ['airline']):
            key_col = col
            break

    #For edge case: 2010 doesn't have airline column for some reason
    if col is None:
        all_sheets[sheet_name] = df
        continue

    df = df[df[col].notna()] # # remove rows where column is empty
    df.reset_index(drop=True, inplace=True)
    
    all_sheets[sheet_name] = df
    print(df)

   Rank                  Airline      1Q      2Q      3Q      4Q Full Year
0     1      American Airlines     28829   30015   31346   34348    124538
1     2        Delta Air Lines     20343   22447   25035   28721     96546
2     3          United Airlines   12045   13410   14829   12718     53002
3     4     Continental Airlines   10715   11045   10565   10519     42844
4     5     Northwest Airlines      8339    8956    9897   10309     37501
5     6              US Airways     5002    7526    8216    6995     27738
6     7      Southwest Airlines     5135    5508    5531    4625     20799
7     8          JetBlue Airways    3779    4011    4427    4199     16416
8     9        Alaska Airlines      3083    3969    5085    4014     16151
9    10         AirTran Airways     2106    2430    2479    2153      9168
10   11      Frontier Airlines       950    1126    1238    1304      4618
11   12      Hawaiian Airlines       899    1190    1247    1171      4505
12   13   Continental Micronesia     527     590     532     620      2269
13   14        SkyBus Airlines         -       -     884    1256      2140
14   15   America West Airlines     1772     -18      -9       -      1745
15   16              Horizon Air     541     220     398     420      1579
16   17               Aloha Air      302     293     322     353      1271
17   18       Midwest Airlines       273     296     324     283      1177
18   19           Virgin America       -       -      66     165       231
19   20        USA 3000 Airlines      41       -       -       -        41
20   21  Tatonduk Flying Service       1       1       2       0         4
21   22           Eos Airlines         -       0       2       1         3
22  NaN             All Airlines  104681  113014  122416  124173    464284
   Rank                 Airline      1Q      2Q      3Q      4Q Full Year
0     1     American Airlines     32959   37101   94075  113856    277991
1     2           US Airways       7478   17917   67928   93759    187082
2     3       Delta Air Lines     26571   42461   47489   60542    177063
3     4         United Airlines   12219   19721   42283   58771    132994
4     5    Northwest Airlines      9641   15685   32695   63578    121599
5     6    Continental Airlines   10696   16361   21180   49287     97524
6     7         JetBlue Airways    4410    7275   12119   11504     35308
7     8        AirTran Airways     2686    6099    7867   12749     29401
8     9     Southwest Airlines     5934    6637    6802    5853     25226
9    10       Alaska Airlines      3299    4211    9040    5478     22028
10   11     Frontier Airlines       964    1245    2928   10018     15156
11   12     Hawaiian Airlines      1091    1617    2500    6420     11627
12   13       Midwest Airlines      244     351     763    2619      3978
13   14       SkyBus Airlines      2875       -       -       -      2875
14   15             Horizon Air     345     380     828    1192      2745
15   16          Virgin America     293     672     867     737      2569
16   17  Continental Micronesia     551     482     429     329      1791
17   18   Sun Country Airlines        -       -       -    1305      1305
18   19         Mesa Airlines         -       -     268     570       838
19   20              Aloha Air      306       -       -       -       306
20   21          Eos Airlines         2       -       -       -         2
21  NaN            All Airlines  122565  178214  350061  498568   1149408
   Rank                 Airline      1Q      2Q      3Q      4Q Full Year
0     1       Delta Air Lines    102838  118356  129465  131060    481719
1     2     American Airlines    108117  118442  119466  129159    475184
2     3            US Airways     94227  104138  111395  122520    432280
3     4    Northwest Airlines     59786   67186   78922   79931    285825
4     5         United Airlines   59102   67412   77877   64586    268977
5     6    Continental Airlines   55616   63157   66025   69690    254488
6     7        AirTran Airways    30881   40535   40240   34327    145983
7     8       Alaska Airlines      5390    6242   25214   21823     58669
8     9     Frontier Airlines     12456   13463   14866   14376     55160
9    10         JetBlue Airways   12603   12353   14516   13796     53267
10   11        Spirit Air Lines       -   16178   16407   14263     46848
11   12           Allegiant Air       -   11970   10340   10191     44095
12   13     Hawaiian Airlines      8297    9026    9493   11370     38186
13   14     Southwest Airlines     5982    6947    7278    6776     26983
14   15          Virgin America     989    3815    6982    7577     19364
15   16      Midwest Airlines      4003    5240    5576       -     14818
16   17   Sun Country Airlines     4210    2140    2721    2559     11630
17   18       Republic Airlines       -       -       -    5483      5483
18   19             Horizon Air     887     970    1051     889      3797
19   20       USA 3000 Airlines       -     960     780     647      2388
20   21         Mesa Airlines       579     690     784     112      2165
21   22  Continental Micronesia     365     353     397     425      1540
22  NaN            All Airlines  577921  669572  739796  741561   2728850
   Rank              Unnamed: 1      1Q      2Q      3Q      4Q     2010
0     1                  Delta   217773  255950  259473  219054   952250
1     2            American      128539  152059  151175  148890   580663
2     3            US Airways    120720  135601  131806  125496   513623
3     4           Continental     76603   91031   90494   83457   341585
4     5                United     71145   84824   83872   73366   313207
5     6               AirTran     35005   39204   38139   39800   152148
6     7              Alaska       21166   25394   34430   28007   108997
7     8                 Spirit    16033   16811   22939   25720    81503
8     9            Frontier       13872   15470   14725   18048    62115
9    10                JetBlue    13763   14012   15494   13750    57019
10   11              Allegiant    14826   14437   13747   12315    55325
11   12            Hawaiian       11672   13523   15060   13753    54008
12   13          Virgin America    7328    9124   10177    9446    36075
13   14            Southwest       6872    7923    7729    7263    29787
14   15              Republic      6418    6366    5193     105    18082
15   16                Horizon      762    5293    6702    5136    17893
16   17          Sun Country       3971    2406    3059    2775    12211
17   18                  Mesa       539     731     980     995     3245
18   19  Continental Micronesia     585     813     773     809     2980
19   20              USA 3000       954     819     391     591     2755
20  NaN                   All    768546  891791  906358  828776  3395471
   Rank         Airline      1Q      2Q      3Q      4Q     2011
0     1          Delta   197971  226291  232508  206838   863608
1     2    American      137210  156114  152750  147391   593465
2     3    US Airways    120925  134752  128761  121901   506339
3     4     Continental   76304   91332   94301   91479   353416
4     5        United     66245   71111   74758   64703   276817
5     6       AirTran     39267   46138   42753   36512   164670
6     7          Alaska   36201   40270   46135   34407   157013
7     8         Spirit    28226   34441   36858   34445   133970
8     9         JetBlue   14278   15941   17389   16470    64078
9    10    Hawaiian       13498   14304   13804   14984    56590
10   11    Frontier       16681   18015   20166     NaN    54862
11   12       Allegiant   14462   13754   13014   12332    53562
12   13  Virgin America    9139   11330   13012     NaN    33482
13   14    Southwest       7339    8482    8548    7666    32035
14   15  Sun Country       4421    3105    3224    2648    13398
15   16            Mesa     861     821     NaN     NaN     1683
16   17      USA 3000       668     510     263     209     1650
17  NaN           All    783696  886711  898244  791985  3360638
   Rank         Airline      1Q      2Q      3Q          4Q         2012
0     1          Delta   198352  231351  233123      203053       865879
1     2          United  144136  175471  169290      149106       638003
2     3        American  139239  149194  138260      130692       557385
3     4      US Airways  124333  136230  129364      126279       516206
4     5          Spirit   38023   44036   43483       42687       168229
5     6          Alaska   33165   38452   44086       35772       151475
6     7      Southwest*    7716   50523   46066       40170       144475
7     8       Allegiant   16069   20751   25758       26978        89556
8     9         JetBlue   17203   17132   18938       17515        70788
9    10        Frontier   17201   17908   18770       16294        70173
10   11        Hawaiian   16114   16513   18137       17065        67829
11   12  Virgin America   12913   14809   16214   13474.482    57410.482
12   13        AirTran*   34507       0       0           0        34507
13   14     Sun Country    4183    3422    3626        3242        14473
14   15            Mesa     311     941    1062        1013         3327
15   16        USA 3000       2       0       0           0            2
16  NaN           All    803467  916733  906177  823340.482  3449717.482
   Rank            Airline      1Q          2Q      3Q      4Q         2013
0     1             Delta   191986      217072  226243  197882       833183
1     2             United  143252      158012  170186  153371       624821
2     3         US Airways  130470      139306  130564  127251       527591
3     4           American  123115      132698  127070  122814       505697
4     5             Spirit   47741       53499   57488   53233       211961
5     6          Southwest   42727       42500   32411   25902       143540
6     7          Allegiant   33594       33038   28957   16864       112453
7     8             Alaska   20671       24249   28580   22533        96033
8     9            JetBlue   17893       17863   19622   18938        74316
9    10           Hawaiian   16563       17753   19115   16603        70034
10   11           Frontier   14212       14186   18659   22169        69226
11   12     Virgin America   12205       15557   16149   14614        58525
12   13        Sun Country    4926        3592    3825    3238        15581
13   14               Mesa    1014         966    1056     888         3924
14   15  Island Air Hawaii     635     850.813     874     840     3199.813
15   16   American Eagle**       0           0     -13       0          -13
16  NaN              All    801004  871141.813  880786  797140  3350071.813
   Rank            Airline      1Q      2Q      3Q      4Q     2014
0     1             Delta   190640  227066  237002  208201   862909
1     2             United  147157  163523  180713  160464   651857
2     3           American  120767  147174  154888  151601   574430
3     4         US Airways  128934  135632  126221  120494   511281
4     5             Spirit   56641   61724   62623   60879   241867
5     6           Frontier   22139   30381   46143   46190   144853
6     7             Alaska   24962   30510   37455   27703   120630
7     8          Allegiant   22380   21243   31897   32297   107817
8     9            JetBlue   18623   19792   22888   22213    83516
9    10           Hawaiian   17304   18965   20892   18936    76097
10   11          Southwest   21362   22962   17732   11114    73170
11   12     Virgin America   13365   15990   16251   14551    60157
12   13        Sun Country    4853    3572    3963    3481    15869
13   14  Island Air Hawaii     958     992    1087     935     3972
14   15               Mesa     883       0       0       0      883
15  NaN              All    790968  899526  959755  879059  3529308
   Rank            Airline      1Q      2Q       3Q      4Q     2015
0     1     AA/US Combined  271449  295015   292089  267293  1125846
1   NaN           American  151758  165660   292089  267293   876800
2   NaN         US Airways  119691  129355      NaN     NaN   249046
3     2             Delta   198119  226294   236890  213799   875102
4     3             United  154022  170257   184740  163203   672222
5     4             Spirit   65148   73196    77328   73039   288711
6     5           Frontier   42011   49565    56582   71886   220044
7     6          Allegiant   40444   42463    39934   38523   161364
8     7            JetBlue   21992   21848    42717   56153   142710
9     8             Alaska   23686   30215    34127   24787   112815
10    9           Hawaiian   18212   21527    21965   19457    81161
11   10     Virgin America   13230   15247    16094   15388    59959
12   11          Southwest   10112   11924    11542   10058    43636
13   12        Sun Country    5364    4124     4312    3613    17413
14   13  Island Air Hawaii     874     744      572     569     2759
15  NaN              All    864663  962419  1018892  957768  3803742
   Rank            Airline        1Q       2Q         3Q       4Q       2016
0     1           American  262464.1   288836   288124.4   278048  1117472.5
1     2             Delta     197690   232461     228971   213297     872419
2     3             United  158948.8   175460   185608.8   170386   690403.6
3     4             Spirit  102618.1   111638   113217.2   106796   434269.3
4     5           Frontier   70755.2    71578    84962.2    79497   306792.4
5     6            JetBlue   57853.1    57625    59547.8    56578   231603.9
6     7          Allegiant   43758.7    45934    45167.9    42468   177328.6
7     8             Alaska     30484    35022      39297    30811     135614
8     9           Hawaiian   19804.2    20994    22332.1    19270    82400.3
9    10     Virgin America     14334    16415    17651.3    15889    64289.3
10   11          Southwest     10253    11993      11346    10158      43750
11   12        Sun Country    4949.2     4078       3499     4622    17148.2
12   13  Island Air Hawaii       611      822       1081     1130       3644
13  NaN              All    974523.4  1072856  1100805.7  1028950  4177135.1
   Rank             Airline         1Q         2Q         3Q       4Q  \
0     1            American   272805.4   301970.7   299428.3   298524
1     2              Delta      203507     237998     247007   219114
2     3              United   169908.7   200080.1   222370.2   202130
3     4              Spirit   110907.8   125844.1   125457.3   130436
4     5            Frontier    80224.4    91352.4    94494.7    98070
5     6             JetBlue      61994    74282.1    81143.4    72419
6     7           Allegiant    46555.7    51252.8    46317.3    48457
7     8              Alaska      30602      38232      42114    36295
8     9            Hawaiian    19054.3    20535.3    21503.2    20063
9    10      Virgin America    13815.7      15721      17106    16037
10   11           Southwest      10419      12298      11934    11460
11   12         Sun Country     5771.1     5006.6     4891.6     4387
12   13  Island Air Hawaii*     1518.4     1761.4     1714.2      NaN
13  NaN               All    1027083.5  1176334.5  1215481.2  1157392

         2017
0   1172728.4
1      907626
2      794489
3    492645.2
4    364141.5
5    289838.5
6    192582.8
7      147243
8     81155.8
9     62679.7
10      46111
11    20056.3
12       4994
13  4576291.2
   Rank      Airline       1Q         2Q           3Q       4Q         2018
0     1     American   289278   313339.6   309190.217   309653  1221460.817
1     2       United   193951   217875.7   236913.138   240000   888739.838
2     3       Delta    172730     202384       214192   199158       788464
3     4       Spirit   144345   161656.1   166504.511   165736   638241.611
4     5     Frontier   100452      85819    90653.757    89514   366438.757
5     6      JetBlue    72466    77752.2    86537.661    84433   321188.861
6     7       Alaska    48800      77881        83804    69182       279667
7     8    Allegiant    56568    59750.6    52919.165    50322   219559.765
8     9     Hawaiian    20562    22074.3    22114.817    19972    84723.117
9    10    Southwest    11436      13418        12873    12222        49949
10   11  Sun Country     8739       8798     9300.111     9323    36160.111
11  NaN        All    1119327  1240748.5  1285002.377  1249515  4894592.877
              0        1        2        3        4        5
0       Airline       1Q      2Q       3Q        4Q     2019
1        Alaska    69691    85531    94289    78140   327651
2     Allegiant    63660    73926    64957    62551   265094
3      American   317297   350554   342127   329146  1339124
4        Delta    201412   288351   293618   251677  1035058
5      Frontier    91389   101567   131005   135197   459158
6      Hawaiian    20185    22515    22588    20468    85756
7       JetBlue    84591    89860    95810    91153   361414
8     Southwest    12025    13749    13046    12004    50824
9        Spirit   176063   194915   191072   196721   758771
10  Sun Country    16687    17741    18793    17346    70567
11       United   238470   274949   258986   233928  1006333
12        All    1291470  1513658  1526291  1428331  5759750
                 0            1           2           3           4  \
0          Airline           1Q         2Q          3Q           4Q
1           Alaska        63687       22614       38323       42715
2        Allegiant    57336.915   19309.855    32114.64   36577.086
3         American   274371.088   62529.161  147069.209  183150.386
4           Delta        203528       27477       88112      121875
5          Eastern            0     130.155     305.071      766.92
6         Frontier   109800.687   17308.066   48433.276   56306.849
7         Hawaiian     17276.98    1450.716     2569.37     4728.55
8          JetBlue    91643.406     6866.22   40874.585   67782.307
9   Silver Airways     2250.278     287.819     698.678    1156.681
10       Southwest        11588        4739        8837        8895
11          Spirit   175074.394   20194.276   99720.459  122694.824
12     Sun Country    18655.169    2417.939    6806.273    8383.672
13          United   200642.246   35925.259   87439.086  138117.485
14           All    1225854.163  221249.466  601302.647   793149.76

              5
0          2020
1        167339
2    145338.496
3    667119.844
4        440992
5      1202.146
6    231848.878
7     26025.616
8    207166.518
9      4393.456
10        34059
11   417683.953
12    36263.053
13   462124.076
14  2841556.036
                 0           1           2            3            4  \
0          Airline          1Q         2Q           3Q            4Q
1           Alaska       39761       62587        71000        68825
2        Allegiant   41330.157   67958.822    68887.943     67950.39
3         American  188640.827   331661.59   348042.303   355942.565
4           Breeze           0           0     1408.524     2064.813
5           Delta       134047      225877       266130       247016
6          Eastern     277.257     417.411      577.739      783.545
7         Frontier   67692.106  125097.953   132930.401   137667.961
8         Hawaiian    7584.776   18617.284     21453.64    18691.107
9          JetBlue   78860.144  124267.816   170545.208   153529.493
10  Silver Airways    1444.482    2517.181     2346.322     2227.577
11       Southwest        9965       15450        16906        15360
12          Spirit  118273.972  184480.049   177518.525   184765.016
13     Sun Country   12406.211   15876.286    17754.224    15518.316
14          United  133986.054  207015.598   267721.257   260903.202
15           All    834268.986  1381823.99  1563222.086  1531244.985

              5
0          2021
1        242173
2    246127.312
3   1224287.285

In [153]:
sheet_2025 = all_sheets['2025']
sheet_2025 = sheet_2025[sheet_2025["1Q"].notna()]
sheet_2025

           Airline           1Q           2Q   3Q   4Q         2025
0           Alaska        89836       104918  NaN  NaN       194754
1        Allegiant   104785.374   118550.654  NaN  NaN   223336.028
2         American   344245.831    379194.74  NaN  NaN   723440.571
3           Breeze     9772.315    12418.075  NaN  NaN     22190.39
4           Delta        247859       285591  NaN  NaN       533450
5         Frontier   204747.432   186578.467  NaN  NaN   391325.899
6         Hawaiian    21826.707    24760.675  NaN  NaN    46587.382
7          JetBlue   130386.912   136688.404  NaN  NaN   267075.316
8   Silver Airways     3247.295            -  NaN  NaN     3247.295
9        Southwest        21332        54508  NaN  NaN        75840
10          Spirit   118176.358    138201.75  NaN  NaN   256378.108
11     Sun Country    33629.273    26801.775  NaN  NaN    60431.048
12          United   315253.602   338417.724  NaN  NaN   653671.326
13           All    1645098.099  1806629.264    0    0  3451727.363

In [156]:
for sheet_name in all_sheets:
    if(sheet_name == '2025'):
        break;
    df = all_sheets[sheet_name]
    df = df.dropna() 
    all_sheets[sheet_name] = df.reset_index(drop=True)

for sheet_name in all_sheets: 
    all_sheets[sheet_name].drop('Rank', axis=1, errors='ignore', inplace=True)
    print(sheet_name)
    print(all_sheets[sheet_name])

for sheet_name, df in all_sheets.items():
    cols = [col for col in df.columns if str(col).strip().upper() in ['1Q', '2Q', '3Q', '4Q','Full Year']]
    
    for col in cols:
        df[col] = df[col].replace(['-', None], 0).astype(float)

2007
                    Airline       1Q       2Q       3Q       4Q Full Year
0       American Airlines    28829.0  30015.0  31346.0  34348.0    124538
1         Delta Air Lines    20343.0  22447.0  25035.0  28721.0     96546
2           United Airlines  12045.0  13410.0  14829.0  12718.0     53002
3      Continental Airlines  10715.0  11045.0  10565.0  10519.0     42844
4      Northwest Airlines     8339.0   8956.0   9897.0  10309.0     37501
5               US Airways    5002.0   7526.0   8216.0   6995.0     27738
6       Southwest Airlines    5135.0   5508.0   5531.0   4625.0     20799
7           JetBlue Airways   3779.0   4011.0   4427.0   4199.0     16416
8         Alaska Airlines     3083.0   3969.0   5085.0   4014.0     16151
9          AirTran Airways    2106.0   2430.0   2479.0   2153.0      9168
10      Frontier Airlines      950.0   1126.0   1238.0   1304.0      4618
11      Hawaiian Airlines      899.0   1190.0   1247.0   1171.0      4505
12   Continental Micronesia    527.0    590.0    532.0    620.0      2269
13        SkyBus Airlines        0.0      0.0    884.0   1256.0      2140
14   America West Airlines    1772.0    -18.0     -9.0      0.0      1745
15              Horizon Air    541.0    220.0    398.0    420.0      1579
16               Aloha Air     302.0    293.0    322.0    353.0      1271
17       Midwest Airlines      273.0    296.0    324.0    283.0      1177
18           Virgin America      0.0      0.0     66.0    165.0       231
19        USA 3000 Airlines     41.0      0.0      0.0      0.0        41
20  Tatonduk Flying Service      1.0      1.0      2.0      0.0         4
21           Eos Airlines        0.0      0.0      2.0      1.0         3
2008
                   Airline       1Q       2Q       3Q        4Q Full Year
0      American Airlines    32959.0  37101.0  94075.0  113856.0    277991
1            US Airways      7478.0  17917.0  67928.0   93759.0    187082
2        Delta Air Lines    26571.0  42461.0  47489.0   60542.0    177063
3          United Airlines  12219.0  19721.0  42283.0   58771.0    132994
4     Northwest Airlines     9641.0  15685.0  32695.0   63578.0    121599
5     Continental Airlines  10696.0  16361.0  21180.0   49287.0     97524
6          JetBlue Airways   4410.0   7275.0  12119.0   11504.0     35308
7         AirTran Airways    2686.0   6099.0   7867.0   12749.0     29401
8      Southwest Airlines    5934.0   6637.0   6802.0    5853.0     25226
9        Alaska Airlines     3299.0   4211.0   9040.0    5478.0     22028
10     Frontier Airlines      964.0   1245.0   2928.0   10018.0     15156
11     Hawaiian Airlines     1091.0   1617.0   2500.0    6420.0     11627
12       Midwest Airlines     244.0    351.0    763.0    2619.0      3978
13       SkyBus Airlines     2875.0      0.0      0.0       0.0      2875
14             Horizon Air    345.0    380.0    828.0    1192.0      2745
15          Virgin America    293.0    672.0    867.0     737.0      2569
16  Continental Micronesia    551.0    482.0    429.0     329.0      1791
17   Sun Country Airlines       0.0      0.0      0.0    1305.0      1305
18         Mesa Airlines        0.0      0.0    268.0     570.0       838
19              Aloha Air     306.0      0.0      0.0       0.0       306
20          Eos Airlines        2.0      0.0      0.0       0.0         2
2009
                   Airline        1Q        2Q        3Q        4Q Full Year
0        Delta Air Lines    102838.0  118356.0  129465.0  131060.0    481719
1      American Airlines    108117.0  118442.0  119466.0  129159.0    475184
2             US Airways     94227.0  104138.0  111395.0  122520.0    432280
3     Northwest Airlines     59786.0   67186.0   78922.0   79931.0    285825
4          United Airlines   59102.0   67412.0   77877.0   64586.0    268977
5     Continental Airlines   55616.0   63157.0   66025.0   69690.0    254488
6         AirTran Airways    30881.0   40535.0   40240.0   34327.0    145983
7        Alaska Airlines      5390.0    6242.0   25214.0   21823.0     58669
8      Frontier Airlines     12456.0   13463.0   14866.0   14376.0     55160
9          JetBlue Airways   12603.0   12353.0   14516.0   13796.0     53267
10        Spirit Air Lines       0.0   16178.0   16407.0   14263.0     46848
11           Allegiant Air       0.0   11970.0   10340.0   10191.0     44095
12     Hawaiian Airlines      8297.0    9026.0    9493.0   11370.0     38186
13     Southwest Airlines     5982.0    6947.0    7278.0    6776.0     26983
14          Virgin America     989.0    3815.0    6982.0    7577.0     19364
15      Midwest Airlines      4003.0    5240.0    5576.0       0.0     14818
16   Sun Country Airlines     4210.0    2140.0    2721.0    2559.0     11630
17       Republic Airlines       0.0       0.0       0.0    5483.0      5483
18             Horizon Air     887.0     970.0    1051.0     889.0      3797
19       USA 3000 Airlines       0.0     960.0     780.0     647.0      2388
20         Mesa Airlines       579.0     690.0     784.0     112.0      2165
21  Continental Micronesia     365.0     353.0     397.0     425.0      1540
2010
                   Airline        1Q        2Q        3Q        4Q    2010
0                   Delta   217773.0  255950.0  259473.0  219054.0  952250
1             American      128539.0  152059.0  151175.0  148890.0  580663
2             US Airways    120720.0  135601.0  131806.0  125496.0  513623
3            Continental     76603.0   91031.0   90494.0   83457.0  341585
4                 United     71145.0   84824.0   83872.0   73366.0  313207
5                AirTran     35005.0   39204.0   38139.0   39800.0  152148
6               Alaska       21166.0   25394.0   34430.0   28007.0  108997
7                  Spirit    16033.0   16811.0   22939.0   25720.0   81503
8             Frontier       13872.0   15470.0   14725.0   18048.0   62115
9                 JetBlue    13763.0   14012.0   15494.0   13750.0   57019
10              Allegiant    14826.0   14437.0   13747.0   12315.0   55325
11            Hawaiian       11672.0   13523.0   15060.0   13753.0   54008
12          Virgin America    7328.0    9124.0   10177.0    9446.0   36075
13            Southwest       6872.0    7923.0    7729.0    7263.0   29787
14              Republic      6418.0    6366.0    5193.0     105.0   18082
15                Horizon      762.0    5293.0    6702.0    5136.0   17893
16          Sun Country       3971.0    2406.0    3059.0    2775.0   12211
17                  Mesa       539.0     731.0     980.0     995.0    3245
18  Continental Micronesia     585.0     813.0     773.0     809.0    2980
19              USA 3000       954.0     819.0     391.0     591.0    2755
2011
           Airline        1Q        2Q        3Q        4Q    2011
0           Delta   197971.0  226291.0  232508.0  206838.0  863608
1     American      137210.0  156114.0  152750.0  147391.0  593465
2     US Airways    120925.0  134752.0  128761.0  121901.0  506339
3      Continental   76304.0   91332.0   94301.0   91479.0  353416
4         United     66245.0   71111.0   74758.0   64703.0  276817
5        AirTran     39267.0   46138.0   42753.0   36512.0  164670
6           Alaska   36201.0   40270.0   46135.0   34407.0  157013
7          Spirit    28226.0   34441.0   36858.0   34445.0  133970
8          JetBlue   14278.0   15941.0   17389.0   16470.0   64078
9     Hawaiian       13498.0   14304.0   13804.0   14984.0   56590
10       Allegiant   14462.0   13754.0   13014.0   12332.0   53562
11    Southwest       7339.0    8482.0    8548.0    7666.0   32035
12  Sun Country       4421.0    3105.0    3224.0    2648.0   13398
13      USA 3000       668.0     510.0     263.0     209.0    1650
2012
           Airline        1Q        2Q        3Q          4Q       2012
0           Delta   198352.0  231351.0  233123.0  203053.000     865879
1           United  144136.0  175471.0  169290.0  149106.000     638003
2         American  139239.0  149194.0  138260.0  130692.000     557385
3       US Airways  124333.0  136230.0  129364.0  126279.000     516206
4           Spirit   38023.0   44036.0   43483.0   42687.000     168229
5           Alaska   33165.0   38452.0   44086.0   35772.000     151475
6       Southwest*    7716.0   50523.0   46066.0   40170.000     144475
7        Allegiant   16069.0   20751.0   25758.0   26978.000      89556
8          JetBlue   17203.0   17132.0   18938.0   17515.000      70788
9         Frontier   17201.0   17908.0   18770.0   16294.000      70173
10        Hawaiian   16114.0   16513.0   18137.0   17065.000      67829
11  Virgin America   12913.0   14809.0   16214.0   13474.482  57410.482
12        AirTran*   34507.0       0.0       0.0       0.000      34507
13     Sun Country    4183.0    3422.0    3626.0    3242.000      14473
14            Mesa     311.0     941.0    1062.0    1013.000       3327
15        USA 3000       2.0       0.0       0.0       0.000          2
2013
              Airline        1Q          2Q        3Q        4Q      2013
0              Delta   191986.0  217072.000  226243.0  197882.0    833183
1              United  143252.0  158012.000  170186.0  153371.0    624821
2          US Airways  130470.0  139306.000  130564.0  127251.0    527591
3            American  123115.0  132698.000  127070.0  122814.0    505697
4              Spirit   47741.0   53499.000   57488.0   53233.0    211961
5           Southwest   42727.0   42500.000   32411.0   25902.0    143540
6           Allegiant   33594.0   33038.000   28957.0   16864.0    112453
7              Alaska   20671.0   24249.000   28580.0   22533.0     96033
8             JetBlue   17893.0   17863.000   19622.0   18938.0     74316
9            Hawaiian   16563.0   17753.000   19115.0   16603.0     70034
10           Frontier   14212.0   14186.000   18659.0   22169.0     69226
11     Virgin America   12205.0   15557.000   16149.0   14614.0     58525
12        Sun Country    4926.0    3592.000    3825.0    3238.0     15581
13               Mesa    1014.0     966.000    1056.0     888.0      3924
14  Island Air Hawaii     635.0     850.813     874.0     840.0  3199.813
15   American Eagle**       0.0       0.000     -13.0       0.0       -13
2014
              Airline        1Q        2Q        3Q        4Q    2014
0              Delta   190640.0  227066.0  237002.0  208201.0  862909
1              United  147157.0  163523.0  180713.0  160464.0  651857
2            American  120767.0  147174.0  154888.0  151601.0  574430
3          US Airways  128934.0  135632.0  126221.0  120494.0  511281
4              Spirit   56641.0   61724.0   62623.0   60879.0  241867
5            Frontier   22139.0   30381.0   46143.0   46190.0  144853
6              Alaska   24962.0   30510.0   37455.0   27703.0  120630
7           Allegiant   22380.0   21243.0   31897.0   32297.0  107817
8             JetBlue   18623.0   19792.0   22888.0   22213.0   83516
9            Hawaiian   17304.0   18965.0   20892.0   18936.0   76097
10          Southwest   21362.0   22962.0   17732.0   11114.0   73170
11     Virgin America   13365.0   15990.0   16251.0   14551.0   60157
12        Sun Country    4853.0    3572.0    3963.0    3481.0   15869
13  Island Air Hawaii     958.0     992.0    1087.0     935.0    3972
14               Mesa     883.0       0.0       0.0       0.0     883
2015
              Airline        1Q        2Q        3Q        4Q     2015
0      AA/US Combined  271449.0  295015.0  292089.0  267293.0  1125846
1              Delta   198119.0  226294.0  236890.0  213799.0   875102
2              United  154022.0  170257.0  184740.0  163203.0   672222
3              Spirit   65148.0   73196.0   77328.0   73039.0   288711
4            Frontier   42011.0   49565.0   56582.0   71886.0   220044
5           Allegiant   40444.0   42463.0   39934.0   38523.0   161364
6             JetBlue   21992.0   21848.0   42717.0   56153.0   142710
7              Alaska   23686.0   30215.0   34127.0   24787.0   112815
8            Hawaiian   18212.0   21527.0   21965.0   19457.0    81161
9      Virgin America   13230.0   15247.0   16094.0   15388.0    59959
10          Southwest   10112.0   11924.0   11542.0   10058.0    43636
11        Sun Country    5364.0    4124.0    4312.0    3613.0    17413
12  Island Air Hawaii     874.0     744.0     572.0     569.0     2759
2016
              Airline        1Q        2Q        3Q        4Q       2016
0            American  262464.1  288836.0  288124.4  278048.0  1117472.5
1              Delta   197690.0  232461.0  228971.0  213297.0     872419
2              United  158948.8  175460.0  185608.8  170386.0   690403.6
3              Spirit  102618.1  111638.0  113217.2  106796.0   434269.3
4            Frontier   70755.2   71578.0   84962.2   79497.0   306792.4
5             JetBlue   57853.1   57625.0   59547.8   56578.0   231603.9
6           Allegiant   43758.7   45934.0   45167.9   42468.0   177328.6
7              Alaska   30484.0   35022.0   39297.0   30811.0     135614
8            Hawaiian   19804.2   20994.0   22332.1   19270.0    82400.3
9      Virgin America   14334.0   16415.0   17651.3   15889.0    64289.3
10          Southwest   10253.0   11993.0   11346.0   10158.0      43750
11        Sun Country    4949.2    4078.0    3499.0    4622.0    17148.2
12  Island Air Hawaii     611.0     822.0    1081.0    1130.0       3644
2017
           Airline        1Q        2Q        3Q        4Q       2017
0         American  272805.4  301970.7  299428.3  298524.0  1172728.4
1           Delta   203507.0  237998.0  247007.0  219114.0     907626
2           United  169908.7  200080.1  222370.2  202130.0     794489
3           Spirit  110907.8  125844.1  125457.3  130436.0   492645.2
4         Frontier   80224.4   91352.4   94494.7   98070.0   364141.5
5          JetBlue   61994.0   74282.1   81143.4   72419.0   289838.5
6        Allegiant   46555.7   51252.8   46317.3   48457.0   192582.8
7           Alaska   30602.0   38232.0   42114.0   36295.0     147243
8         Hawaiian   19054.3   20535.3   21503.2   20063.0    81155.8
9   Virgin America   13815.7   15721.0   17106.0   16037.0    62679.7
10       Southwest   10419.0   12298.0   11934.0   11460.0      46111
11     Sun Country    5771.1    5006.6    4891.6    4387.0    20056.3
2018
        Airline        1Q        2Q          3Q        4Q         2018
0      American  289278.0  313339.6  309190.217  309653.0  1221460.817
1        United  193951.0  217875.7  236913.138  240000.0   888739.838
2        Delta   172730.0  202384.0  214192.000  199158.0       788464
3        Spirit  144345.0  161656.1  166504.511  165736.0   638241.611
4      Frontier  100452.0   85819.0   90653.757   89514.0   366438.757
5       JetBlue   72466.0   77752.2   86537.661   84433.0   321188.861
6        Alaska   48800.0   77881.0   83804.000   69182.0       279667
7     Allegiant   56568.0   59750.6   52919.165   50322.0   219559.765
8      Hawaiian   20562.0   22074.3   22114.817   19972.0    84723.117
9     Southwest   11436.0   13418.0   12873.000   12222.0        49949
10  Sun Country    8739.0    8798.0    9300.111    9323.0    36160.111
2019
        Airline         1Q         2Q         3Q         4Q     2019
0        Alaska    69691.0    85531.0    94289.0    78140.0   327651
1     Allegiant    63660.0    73926.0    64957.0    62551.0   265094
2      American   317297.0   350554.0   342127.0   329146.0  1339124
3        Delta    201412.0   288351.0   293618.0   251677.0  1035058
4      Frontier    91389.0   101567.0   131005.0   135197.0   459158
5      Hawaiian    20185.0    22515.0    22588.0    20468.0    85756
6       JetBlue    84591.0    89860.0    95810.0    91153.0   361414
7     Southwest    12025.0    13749.0    13046.0    12004.0    50824
8        Spirit   176063.0   194915.0   191072.0   196721.0   758771
9   Sun Country    16687.0    17741.0    18793.0    17346.0    70567
10       United   238470.0   274949.0   258986.0   233928.0  1006333
11        All    1291470.0  1513658.0  1526291.0  1428331.0  5759750
2020
           Airline           1Q          2Q          3Q          4Q  \
0           Alaska    63687.000   22614.000   38323.000   42715.000
1        Allegiant    57336.915   19309.855   32114.640   36577.086
2         American   274371.088   62529.161  147069.209  183150.386
3           Delta    203528.000   27477.000   88112.000  121875.000
4          Eastern        0.000     130.155     305.071     766.920
5         Frontier   109800.687   17308.066   48433.276   56306.849
6         Hawaiian    17276.980    1450.716    2569.370    4728.550
7          JetBlue    91643.406    6866.220   40874.585   67782.307
8   Silver Airways     2250.278     287.819     698.678    1156.681
9        Southwest    11588.000    4739.000    8837.000    8895.000
10          Spirit   175074.394   20194.276   99720.459  122694.824
11     Sun Country    18655.169    2417.939    6806.273    8383.672
12          United   200642.246   35925.259   87439.086  138117.485
13           All    1225854.163  221249.466  601302.647  793149.760

           2020
0        167339
1    145338.496
2    667119.844
3        440992
4      1202.146
5    231848.878
6     26025.616
7    207166.518
8      4393.456
9         34059
10   417683.953
11    36263.053
12   462124.076
13  2841556.036
2021
           Airline          1Q           2Q           3Q           4Q  \
0           Alaska   39761.000    62587.000    71000.000    68825.000
1        Allegiant   41330.157    67958.822    68887.943    67950.390
2         American  188640.827   331661.590   348042.303   355942.565
3           Breeze       0.000        0.000     1408.524     2064.813
4           Delta   134047.000   225877.000   266130.000   247016.000
5          Eastern     277.257      417.411      577.739      783.545
6         Frontier   67692.106   125097.953   132930.401   137667.961
7         Hawaiian    7584.776    18617.284    21453.640    18691.107
8          JetBlue   78860.144   124267.816   170545.208   153529.493
9   Silver Airways    1444.482     2517.181     2346.322     2227.577
10       Southwest    9965.000    15450.000    16906.000    15360.000
11          Spirit  118273.972   184480.049   177518.525   184765.016
12     Sun Country   12406.211    15876.286    17754.224    15518.316
13          United  133986.054   207015.598   267721.257   260903.202
14           All    834268.986  1381823.990  1563222.086  1531244.985

           2021
0        242173
1    246127.312
2   1224287.285
3      3473.337
4        873070
5      2055.952
6    463388.421
7     66346.807
8    527202.661
9      8535.562
10        57681
11   665037.562
12    61555.037
13   869626.111
14  5310560.047
2022
           Airline           1Q           2Q           3Q           4Q  \
0           Alaska    64370.000    88321.000    92981.000    80917.000
1        Allegiant    73648.957    93183.106    83633.717    80585.981
2         American   314803.386   383112.556   351356.297   348943.840
3           Breeze     1835.321     2845.618     3278.286     5317.713
4           Delta    226849.000   265558.000   252159.000   234831.000
5          Eastern      147.472       66.611       41.792       25.660
6         Frontier   131479.496   187736.689   201769.751   222967.521
7         Hawaiian    18489.009    24486.968    23905.392    20312.424
8          JetBlue   136796.948   165807.634   165924.577   156327.368
9   Silver Airways     2037.019     2685.457     2333.403     2672.287
10       Southwest    14858.000    17969.000    17855.000    16315.000
11          Spirit   194287.354   238970.696   238245.409   261715.371
12     Sun Country    22632.651    20702.696    21039.482    21088.305
13          United   245069.910   294419.794   288855.740   290224.039
14           All    1447304.523  1785865.825  1743378.846  1742243.509

           2022
0        326589
1    331051.761
2   1398216.079
3     13276.938
4        979397
5       281.535
6    743953.457
7     87193.793
8    624856.527
9      9728.166

In [155]:
all_sheets['2010'].rename(columns={all_sheets['2010'].columns[0]: 'Airline'}, inplace=True)
all_sheets['2010']

                   Airline        1Q        2Q        3Q        4Q    2010
0                   Delta   217773.0  255950.0  259473.0  219054.0  952250
1             American      128539.0  152059.0  151175.0  148890.0  580663
2             US Airways    120720.0  135601.0  131806.0  125496.0  513623
3            Continental     76603.0   91031.0   90494.0   83457.0  341585
4                 United     71145.0   84824.0   83872.0   73366.0  313207
5                AirTran     35005.0   39204.0   38139.0   39800.0  152148
6               Alaska       21166.0   25394.0   34430.0   28007.0  108997
7                  Spirit    16033.0   16811.0   22939.0   25720.0   81503
8             Frontier       13872.0   15470.0   14725.0   18048.0   62115
9                 JetBlue    13763.0   14012.0   15494.0   13750.0   57019
10              Allegiant    14826.0   14437.0   13747.0   12315.0   55325
11            Hawaiian       11672.0   13523.0   15060.0   13753.0   54008
12          Virgin America    7328.0    9124.0   10177.0    9446.0   36075
13            Southwest       6872.0    7923.0    7729.0    7263.0   29787
14              Republic      6418.0    6366.0    5193.0     105.0   18082
15                Horizon      762.0    5293.0    6702.0    5136.0   17893
16          Sun Country       3971.0    2406.0    3059.0    2775.0   12211
17                  Mesa       539.0     731.0     980.0     995.0    3245
18  Continental Micronesia     585.0     813.0     773.0     809.0    2980
19              USA 3000       954.0     819.0     391.0     591.0    2755